.mat-toolbar {
    background: white;
    height: 3vw;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search {
    padding-left: 28vw;
    margin-top: 0.5vw;
    height: 5vw;
}

.searchLabel {
    font-size: small;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-style: none;
    background-color: white;
    color: black;
    border-bottom: 3px solid whitesmoke;
    outline: none;
}

.searchBtn {
    margin-left: 2vw;
}

.title {
    padding-left: 16vw;
}

.lineOne {
    border: 1px solid lightgray;
}

.lineTwo {
    border: 3px solid lightgray;
}

/* For Mobile  ViewPort */
@media (max-width :768px) {

    .mat-toolbar {
        background: white;
        height: 10vw;
    }

    .title {
        margin-left: 0%;
    }

    .search {
        margin-left: 30%;
        margin-top: 0vw;
        height: 13vw;
        width: 0;
    }

    .searchLabel {
        display: none;
    }

    .searchBtn {
        width: 10vw;
        font-size: 2.5vw;
        margin-left: 5vw; 
    }

    input[type=text] {
        height: 9vw;
        width: 30vw;
        padding: 3vw 2vw;
        margin: 2vw 0;
        box-sizing: border-box;
        border-style: none;
        background-color:  rgba(154, 159, 235, 0.2);
        color: black;
        border-bottom: none;
        outline: none;
    }
    
    .searchBtn {
        margin-left: 2vw;
    }
}